html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html, body {
    height: 100%;
    width: 100%;
}

section {
    margin: 3rem 0;
}

.page {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.page > .content {
    padding: 0;
}

header.hero {
    text-align: center;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.page-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.page-header h1 {
    margin-top: 0;
}

footer.footer {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px 0;
}

footer.footer ul {
    margin-bottom: 0;
}

.boxed,
.event .name,
.event .datetime,
.event .call-to-action {
    display: table;
    padding: .2ch 1ch;
    margin: 0 auto;
    font-size: 1rem;
    background: black;
    color: white;
    line-height: 1.1;
}

h1.boxed,
h2.boxed,
.event .name {
    font-weight: bold;
    font-size: 1.286rem;
}

.event .call-to-action {
    text-transform: uppercase;
    margin-top: 1rem;
    border: 2px solid white;
    box-shadow: 5px 5px 0 0 black, 
                -5px 5px 0 0 black,
                5px -5px 0 0 black,
                -5px -5px 0 0 black;
}

@media (min-width: 400px) {
    .boxed {
        font-size: 2.666vw;
    }

    h1.boxed,
    .event .name {
        font-size: 6vw;
    }

    h2.boxed,
    .event .datetime,
    .event .call-to-action  {
        font-size: 4vw;
    }
}

@media (min-width: 768px) {
    .boxed {
        font-size: 1.286rem;
    }

    h2.boxed,
    .event .datetime,
    .event .call-to-action {
        font-size: 2.143rem;
    }

    h1.boxed,
    .event .name {
        font-size: 3rem;
    }
}

.table .list-inline {
    margin-bottom: 0;
}

.table.table-registrations th,
.table.table-registrations td {
    white-space: nowrap;
}

.table.table-registrations td.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}



/******************************************************
 * Page specific CSS for index
 ******************************************************/

#index header.hero {
    background: center / 100vmin url('/static/img/logo3.jpeg');
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

#index header.hero .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem 0;
}

#index header.hero img.logo {
    max-width: 80vw;
    max-height: 40vh;
    filter: drop-shadow(0 0 3vmin rgba(0,0,0,.5));
}

#index header.hero ul.events {
    margin-top: 2rem;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#index header.hero ul.events li {
    margin-bottom: 1rem;
}

#index header.hero ul.events a:hover {
    text-decoration: none;
}

#index header.hero ul.events a:hover .name {
    text-decoration: underline;
}

@media (min-width: 768px) {
    #index header.hero .wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    #index header.hero img.logo {
        max-width: 40vw;
    }

    #index header.hero ul.events {
        position: relative;
        top: .75em;
        margin-top: 0;
        margin-left: 3rem;
    }

    #index header.hero .event .name,
    #index header.hero .event .datetime {
        padding: .2ch 1rem;
        margin-left: 0;
    }
}

@media (min-width: 900px) {
    #index header.hero img.logo {
        max-width: 80vw;
    }
}

#themevideo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: center / cover url('/static/img/theme2021.png');
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
}

#themevideo::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

#themevideo a {
    color: white;
    text-decoration: none;
}

#themevideo a:hover {
   opacity: .8;
}

#aftermovie {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: center / cover url('/static/img/camp2018.jpg');
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
}

#aftermovie::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

#aftermovie a {
    color: white;
    text-decoration: none;
}

#aftermovie a:hover {
   opacity: .8;
}

#contact ul {
    font-size: 1.25em;
}

#contact ul li{
    margin-bottom: .5rem;
}

#contact ul .separator {
    font-size: 80%;
}

#contact ul a {
    white-space: nowrap;
}


/******************************************************
 * Page specific CSS for registration form
 ******************************************************/

header.hero#bbq,
header.hero#camp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: center / cover url('/static/img/camp2018.jpg');
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    z-index: 1;
    padding: 3rem 1rem;
}
    
header.hero#bbq{
    background: center / cover url('/static/img/barbecue.jpg');
}

header.hero#camp {
    background: center / cover url('/static/img/camp2018.jpg');
}

header.hero#bbq::before,
header.hero#camp::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

#grablist_clear_storage {
  padding: 0;
  vertical-align: baseline;
}

.alert-waiting-list {
  margin-top: 20px;
}


/******************************************************
 * Page specific CSS for participant
 ******************************************************/

.comment .list-inline {
  margin-bottom: 0;
}

/******************************************************
 * Page specific CSS for committee
 ******************************************************/

#committee .container-narrow {
    padding: 0;
}

#committee header,
#committee .member {
    display: flex;
    flex-flow: column nowrap;
}

#committee header .description,
#committee .member .description {
    padding: 2rem 1rem;
    background: #eee;
}

#committee header .description p:last-child,
#committee .member .description p:last-child {
    margin-bottom: 0;
}

#committee .member .description {
    padding-bottom: 1rem;
}

#committee .member .description .header {
    margin-bottom: 1rem;
}

#committee .member .description .boxed {
    margin-left: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

#committee header .photo,
#committee .member .photo {
    position: relative;
}

#committee .member .photo {
    overflow: hidden;
    position: relative;
}

#committee header .photo img,
#committee .member .photo img {
    max-width: 100%;
    vertical-align: bottom;
}

#committee header .photo img {
    width: 100%;
}

#committee header .photo figcaption,
#committee .member .photo figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem .5rem;
    text-align: center;
}

#committee .member .photo figure {
    overflow: hidden; 
    align-content: stretch;
    align-items: stretch;
    padding: 0;
    height: 100vw;
}

#committee .member .photo figure img {
    object-position: top;
    object-fit: cover;
    height: 100%;
    width:  100%;
}

#committee .member .photo figure img.has-fit-contain {
    background: #000;
    object-position: center;
    object-fit: contain;
}

@media (min-width: 400px) {
    #committee .member {
        flex-flow: row nowrap;
        min-height: 18em;
    }
    #committee .member .description {
        padding: 2rem 1rem;
    }

    #committee .member:nth-of-type(odd) .description {
        order: 100;
    }

    #committee .member .photo {
        height: auto;
        flex: 0 0 33.333%;
    }

    #committee .member .photo figure {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
    }
}

@media (min-width: 768px) {
    #committee header,
    #committee .member {
        margin: 3rem auto;
    }

    #committee .member {
        min-height: 22.5em;
    }

    #committee header .description,
    #committee .member .description {
        padding: 2rem;
    }

    #committee header .photo figcaption,
    #committee .member .photo figcaption {
        padding: 2rem 1rem;
    }
}


/* quotes */
#committee .member .photo figure figcaption {
    line-height: 1; /* fix for quote line height */
}

#committee .quote {
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#committee .quote::before {
    content: '“';
}

#committee .quote::after {
    content: '”';
}

#committee .quote > span {
    display: inline-block;
}


/* Easter Eggs */

@keyframes rainbow {
    0% {
        background: linear-gradient(to right,
            #e40303 0%,
            #ff8c00 8.333%,
            #ffed00 16.666%,
            #008026 25%,
            #004dff 33.333%,
            #750787 41.666%,
            #e40303 50%,
            #ff8c00 58.333%,
            #ffed00 66.666%,
            #008026 75%,
            #004dff 83.333%,
            #750787 91.666%,
            #e40303 100%
            );
        background-size: 200% 100%;
        background-position: left center;
    }

    100% {
        background: linear-gradient(to right,
            #e40303 0%,
            #ff8c00 8.333%,
            #ffed00 16.666%,
            #008026 25%,
            #004dff 33.333%,
            #750787 41.666%,
            #e40303 50%,
            #ff8c00 58.333%,
            #ffed00 66.666%,
            #008026 75%,
            #004dff 83.333%,
            #750787 91.666%,
            #e40303 100%
            );
        background-size: 200% 100%;
        background-position: right center;
    }
}

#committee #reload-introcee-photo {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;
    color: white;
}

#committee #reload-introcee-photo.triggered {
    opacity: 1;
    color: #999;
}

#committee #reload-introcee-photo:hover {
    opacity: 1;
    color: white;
    background: black;
}

#committee #martijn .name:hover {
    text-shadow: 0px 0px 20px rgba(0,0,0,.5);
    animation: 1.5s linear 0s infinite rainbow;
}

#committee #janco .name::after,
#committee #leo .name::after,
#committee #maria .name::after {
    display: inline-block;
    box-sizing: border-box;
    width: 0;
    padding-left: 0;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: padding-left .5s linear, width .5s linear;
}

#committee #janco .name:hover::after,
#committee #leo .name:hover::after,
#committee #maria .name:hover::after {
    width: 1.5em;
    padding-left: 1ch;
}

#committee #janco .name::after {
    content: '🍺';
}

#committee #leo .name::after {
    content: ':()';
}

#committee #maria .name::after {
    content: '🦄';
}

#committee #janco .name:hover::after,
#committee #maria .name:hover::after {
    width: 1.6em;
    padding-left: 0.5ch;
}

#committee #sneha .name::after,
#committee #jens .name::after {
    display: inline-block;
    content: ' ';
    width: 0;
    position: relative;
    vertical-align: middle;
    margin: 0;
    box-shadow: 0 0 black;
    transition: margin .5s, box-shadow .5s, width .5s
}


#committee #sneha .name::after {
    height: calc(1em / 2);
    top: -.35em;
    background: #fc3b2e;
}

#committee #sneha .name:hover::after {
    width: calc(1em / 2);
    margin-right: 0.75em;
    margin-left: 1.25em;
    /* Flag of Madagascar */
    box-shadow: -.5em 0 #ffffff
               ,    0 0 #fc3b2e
               , .5em 0 #fc3b2e
               ,-.5em .5em #ffffff
               ,    0 .5em #007f37
               , .5em .5em #007f37;
}

#committee #jens .name::after {
    height: calc(1em / 8);
    top: -.1em;
    background: #018a2c;
}

#committee #jens .name:hover::after {
    width: calc(1em / 8);
    margin-right: 0.75em;
    margin-left: 1.25em;
    /* Flag of Groningen */
    box-shadow: -.666em -.444em #db0a13
               ,-.555em -.444em #db0a13
               ,-.444em -.444em #db0a13
               ,-.333em -.444em #db0a13
               ,-.222em -.444em #db0a13
               ,-.111em -.444em #ffffff
               ,    0em -.444em #018a2c
               , .111em -.444em #ffffff
               , .222em -.444em #0645b0
               , .333em -.444em #0645b0
               , .444em -.444em #0645b0
               , .555em -.444em #0645b0
               , .666em -.444em #0645b0

               ,-.666em -.333em #db0a13
               ,-.555em -.333em #db0a13
               ,-.444em -.333em #db0a13
               ,-.333em -.333em #db0a13
               ,-.222em -.333em #db0a13
               ,-.111em -.333em #ffffff
               ,    0em -.333em #018a2c
               , .111em -.333em #ffffff
               , .222em -.333em #0645b0
               , .333em -.333em #0645b0
               , .444em -.333em #0645b0
               , .555em -.333em #0645b0
               , .666em -.333em #0645b0

               ,-.666em -.222em #db0a13
               ,-.555em -.222em #db0a13
               ,-.444em -.222em #db0a13
               ,-.333em -.222em #db0a13
               ,-.222em -.222em #db0a13
               ,-.111em -.222em #ffffff
               ,    0em -.222em #018a2c
               , .111em -.222em #ffffff
               , .222em -.222em #0645b0
               , .333em -.222em #0645b0
               , .444em -.222em #0645b0
               , .555em -.222em #0645b0
               , .666em -.222em #0645b0

               ,-.666em -.111em #ffffff
               ,-.555em -.111em #ffffff
               ,-.444em -.111em #ffffff
               ,-.333em -.111em #ffffff
               ,-.222em -.111em #ffffff
               ,-.111em -.111em #ffffff
               ,    0em -.111em #018a2c
               , .111em -.111em #ffffff
               , .222em -.111em #ffffff
               , .333em -.111em #ffffff
               , .444em -.111em #ffffff
               , .555em -.111em #ffffff
               , .666em -.111em #ffffff


               ,-.666em 0em #018a2c
               ,-.555em 0em #018a2c
               ,-.444em 0em #018a2c
               ,-.333em 0em #018a2c
               ,-.222em 0em #018a2c
               ,-.111em 0em #018a2c
               ,    0em 0em #018a2c
               , .111em 0em #018a2c
               , .222em 0em #018a2c
               , .333em 0em #018a2c
               , .444em 0em #018a2c
               , .555em 0em #018a2c
               , .666em 0em #018a2c


               ,-.666em .111em #ffffff
               ,-.555em .111em #ffffff
               ,-.444em .111em #ffffff
               ,-.333em .111em #ffffff
               ,-.222em .111em #ffffff
               ,-.111em .111em #ffffff
               ,    0em .111em #018a2c
               , .111em .111em #ffffff
               , .222em .111em #ffffff
               , .333em .111em #ffffff
               , .444em .111em #ffffff
               , .555em .111em #ffffff
               , .666em .111em #ffffff

               ,-.666em .222em #0645b0
               ,-.555em .222em #0645b0
               ,-.444em .222em #0645b0
               ,-.333em .222em #0645b0
               ,-.222em .222em #0645b0
               ,-.111em .222em #ffffff
               ,    0em .222em #018a2c
               , .111em .222em #ffffff
               , .222em .222em #db0a13
               , .333em .222em #db0a13
               , .444em .222em #db0a13
               , .555em .222em #db0a13
               , .666em .222em #db0a13

               ,-.666em .333em #0645b0
               ,-.555em .333em #0645b0
               ,-.444em .333em #0645b0
               ,-.333em .333em #0645b0
               ,-.222em .333em #0645b0
               ,-.111em .333em #ffffff
               ,    0em .333em #018a2c
               , .111em .333em #ffffff
               , .222em .333em #db0a13
               , .333em .333em #db0a13
               , .444em .333em #db0a13
               , .555em .333em #db0a13
               , .666em .333em #db0a13

               ,-.666em .444em #0645b0
               ,-.555em .444em #0645b0
               ,-.444em .444em #0645b0
               ,-.333em .444em #0645b0
               ,-.222em .444em #0645b0
               ,-.111em .444em #ffffff
               ,    0em .444em #018a2c
               , .111em .444em #ffffff
               , .222em .444em #db0a13
               , .333em .444em #db0a13
               , .444em .444em #db0a13
               , .555em .444em #db0a13
               , .666em .444em #db0a13;
}
