.scanner {
    background: #eee;
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
}

.scanner .btn.btn-wire {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 1.5rem;
    line-height: 1.2em;
}

.scanner .message,
.scanner .icon {
    margin-bottom: 15px;
}

.scanner .participant {
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 30px;
}

.scanner #scanner-loading {
    min-height: 20em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.scanner #scanner-loading[hidden] {
    display: none;
}

.scanner #scanner-canvas {
    width: 100%;
    vertical-align: bottom;
    border-radius: 4px;
}

.scanner #scanner-result {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    color: white;
    background: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 4px;
}

.scanner #scanner-result[hidden] {
    display: none;
}

.scanner #scanner-result.success {
    background: #5cb85c;
}

.scanner #scanner-result.error {
    background: #c8102e;
}

.scanner #scanner-result.success .fa-times-circle {
    display: none;
}

.scanner #scanner-result.error .fa-check-circle {
    display: none;
}

ul.scanner-summary {
    display: flex;
    flex-flow: row nowrap;
}

ul.scanner-summary li {
    white-space: nowrap;
}

ul.scanner-summary li.truncate {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
