<?php $this->extends('../form_dialog.phtml') ?>

<?php $this->begin('dialog_title') ?>
    <?= $this->html($action) ?> comment for <?= $this->html($participant['first_name']) ?> <?= $this->html($participant['surname']) ?>
<?php $this->end() ?>

<?php $this->begin('dialog_footer') ?>
    <a href="/camp/participant.php?uuid=<?= $this->attr($participant['uuid']) ?>" class="btn btn-default" data-dismiss="modal">Cancel</a>
    <button type="submit" class="btn btn-primary"><?= $this->html($action) ?></button>
<?php $this->end() ?>
