<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header>
        <h1>Ticket for <?= $object['first_name'] ?></h1>
    </header>
    <p>We generated a QR code for you that will serve as your ticket. Make sure you can show this at the start of the camp.</p>
    <img src="https://api.qrserver.com/v1/create-qr-code/?data=<?= $this->attr(urlencode(SERVER_NAME . '/camp/participant.php?uuid=' . $object['uuid']))?>&amp;size=1000x1000&amp;qzone=4" class="img-responsive" alt="">
</div>
<?php $this->end() ?>
