<?php $this->extends('participant_base.phtml') ?>

<?php $this->begin('page') ?>
<h2>Comments</h2>
        <?php foreach ($objects as $comment): ?>
            <div class="panel <?php if (strpos($comment['type'], 'Check') === 0): ?>panel-default<?php elseif ($comment['type'] === 'Incident' || $comment['type'] === 'Medical'): ?>panel-danger<?php else: ?>panel-info<?php endif ?> comment">
                <div class="panel-heading">
                    <ul class="list-inline">
                        <li>
                            <strong><?= $this->html($comment['type']) ?></strong>
                        </li>
                        <?php if ($comment['type'] !== 'Registration Remarks'): ?>
                            <li>&ndash;</li>
                            <li>
                                <a href="https://www.svcover.nl/profiel.php?lid=<?= $this->attr($comment['commenter_cover_id']) ?>" target="_blank">
                                    <?= $this->html($comment['commenter_name']) ?>
                                </a>
                            </li>
                        <?php endif ?>
                        <li>&ndash;</li>
                        <li>
                            <?= $this->html($comment['timestamp']) ?>
                        </li>
                    </ul>
                </div>
                <?php if (!empty($comment['comment'])): ?>
                    <div class="panel-body">
                        <?= $this->format_plain_text($comment['comment']) ?>
                    </div>
                <?php endif ?>
                <div class="panel-footer">
                    <ul class="list-inline">
                        <li>
                            <strong>Participant:</strong>
                        </li>
                        <li>
                            <?= $this->html($comment['participant_first_name']) ?>
                            <?= $this->html($comment['participant_surname']) ?>
                        </li>
                        <li>&ndash;</li>
                        <li>
                            <?= $this->html($comment['participant_type']) ?>
                        </li>
                        <li>&ndash;</li>
                        <li>
                            <?php if ($comment['participant_status'] === 'registered'): ?>
                                <span class="label label-success">Registered</span>
                            <?php elseif ($comment['participant_status'] === 'cancelled'): ?>
                                <span class="label label-danger">Cancelled</span>
                            <?php elseif ($comment['participant_status'] === 'waiting_list'): ?>
                                <span class="label label-warning">Waiting list</span>
                            <?php endif ?>
                        </li>
                        <li>&ndash;</li>
                        <li>
                            <a href="participant.php?uuid=<?= $this->attr($comment['participant_uuid']) ?>">view</a>
                        </li>
                    </ul>    
                </div>
            </div>
        <?php endforeach ?>
<?php $this->end() ?>
