<?php $this->extends('participant_base.phtml') ?>

<?php $this->begin('page') ?>
<h2>Statistics</h2>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="table-responsive">
            <table class="table table-hover">        
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($statistics as $type => $stats): ?>
                        <?php if ($type === 'totals') continue; ?>
                        <tr>
                            <td><?= $type ?></td>
                            <td><?= array_sum($stats) ?></td>
                        </tr>
                    <?php endforeach ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th><?= array_sum($statistics['totals']) ?></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<h2>Present participants</h2>
<div class="table-responsive"> 
    <table class="table table-hover table-registrations" id="registrations">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Emergency</th>
                <th>Info</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($objects as $participant): ?>
                <tr <?php if ($participant['status'] !== 'registered'): ?>class="text-muted"<?php endif ?>>
                    <td><?= $this->html($participant['type']) ?></td>
                    <td><?= $this->html($participant['first_name']) ?></td>
                    <td><?= $this->html($participant['surname']) ?></td>
                    <td <?php if (date_diff(date_create($participant['birthday']), date_create('now'))->y < 18): ?>class="text-danger"<?php endif ?>>
                        <?= $this->html($participant['birthday']) ?>
                    </td>
                    <td><?= $this->html($participant['phone']) ?></td>
                    <td><?= $this->html($participant['emergency_phone']) ?></td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <?php if ($participant['status'] === 'registered'): ?>
                                    <span class="label label-success">Registered</span>
                                <?php elseif ($participant['status'] === 'cancelled'): ?>
                                    <span class="label label-danger">Cancelled</span>
                                <?php elseif ($participant['status'] === 'waiting_list'): ?>
                                    <span class="label label-warning">Waiting list</span>
                                <?php endif ?>
                            </li>
                            <?php if ($participant['is_vegetarian'] == 1): ?>
                                <li>
                                    <span class="text-success" title="Vegetarian">
                                        <i class="fas fa-leaf"></i>
                                        <span class="sr-only">Vegetarian</span>
                                    </span>
                                </li>
                            <?php endif ?>
                            <?php if ($participant['has_drivers_license'] == 1): ?>
                                <li>
                                    <span class="text-primary" title="Drivers license">
                                        <i class="fas fa-car"></i>
                                        <span class="sr-only">Drivers license</span>
                                    </span>
                                </li>
                            <?php endif ?>
                        </ul>
                    </td>
                    <td class="text-right">
                        <ul class="list-inline">
                            <?php if ($participant['comments'] || !empty($participant['remarks'])): ?>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    <?= $this->html((int)$participant['comments'] + (!empty($participant['remarks']) ? 1 : 0)) ?>
                                    <span class="sr-only">comments</span>
                                </li>
                            <?php endif ?>
                            <li>
                                <a href="?view=single&uuid=<?= $participant['uuid'] ?>">view</a>
                            </li>
                            <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
                                <li>
                                    <a href="admin.php?view=update&id=<?= $this->attr($participant['id']) ?>">edit</a>
                                </li>
                            <?php endif ?>
                        </ul>
                    </td>
                </tr>
            <?php endforeach ?>
            <?php if (!$objects): ?>
                <tr><td colspan="16" class="text-muted text-center">Nobody has registered yet :(</td></tr>
            <?php endif ?>
        </tbody>
    </table>
</div>
<?php $this->end() ?>
