<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container">
    <header class="page-header">
        <h1>IntroCamp Participants</h1>
        <div class="controls">
            <a class="btn btn-default" href="/camp/scanner.php">Scanner</a>
        </div>
    </header>

    <ul class="nav nav-tabs">
        <li role="presentation" <?php if ($view === 'present'): ?>class="active"<?php endif ?>><a href="?view=present">Present participants</a></li>
        <li role="presentation" <?php if ($view === 'all'): ?>class="active"<?php endif ?>><a href="?view=all">All participants</a></li>
        <li role="presentation" <?php if ($view === 'comments'): ?>class="active"<?php endif ?>><a href="?view=comments">Comments</a></li>
    </ul>

    <?= !empty($page) ? $page : ''?>
</div>
<?php $this->end() ?>