<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header class="page-header">
        <h1><?= $object['first_name'] ?> <?= $object['surname'] ?></h1>
        <div class="controls">
            <a class="btn btn-default" href="/camp/scanner.php">Scanner</a>
        </div>
    </header>
    <section class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Details</h2>
        </div>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Type</th>
                <td><?= $this->html($object['type']) ?></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><?= $this->html($object['first_name']) ?></td>            
            </tr>
            <tr>
                <th>Surname</th>
                <td><?= $this->html($object['surname']) ?></td>
            </tr>
            <tr>
                <th>Student number</th>
                <td><?= $this->html($object['student_number']) ?></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td <?php if (date_diff(date_create($object['birthday']), date_create('now'))->y < 18): ?>class="text-danger"<?php endif ?>>
                    <?= $this->html($object['birthday']) ?>
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td><?= $this->html($object['address']) ?></td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td><?= $this->html($object['postal_code']) ?></td>
            </tr>
            <tr>
                <th>Place of residence</th>
                <td><?= $this->html($object['city']) ?></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><?= $this->html($object['email']) ?></td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td><?= $this->html($object['phone']) ?></td>
            </tr>
            <tr>
                <th>Emergency Contact</th>
                <td><?= $this->html($object['emergency_phone']) ?></td>
            </tr>
            <tr>
                <th>IBAN</th>
                <td><?= $this->html($object['iban']) ?></td>
            </tr>
            <tr>
                <th>BIC</th>
                <td><?= $this->html($object['bic']) ?></td>
            </tr>
            <tr>
                <th>Study</th>
                <td><?= $this->html($object['study']) ?></td>
            </tr>
            <tr>
                <th>Study year</th>
                <td><?= $this->html($object['study_year']) ?></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    <?php if ($object['status'] === 'registered'): ?>
                        <span class="label label-success">Registered</span>
                    <?php elseif ($object['status'] === 'cancelled'): ?>
                        <span class="label label-danger">Cancelled</span>
                    <?php elseif ($object['status'] === 'waiting_list'): ?>
                        <span class="label label-warning">Waiting list</span>
                    <?php endif ?>
                </td>
            </tr>
            <tr>
                <th>Is vegetarian</th>
                <td>    
                    <?php if ($object['is_vegetarian'] == 1): ?>
                        Yes
                    <?php else: ?>
                        No
                    <?php endif ?>
                </td>
            </tr>
            <tr>
                <th>Has drivers license</th>
                <td>    
                    <?php if ($object['has_drivers_license'] == 1): ?>
                        Yes
                    <?php else: ?>
                        No
                    <?php endif ?>
                </td>
            </tr>
        </table>
    </section>

    <section>
        <h2>Comments</h2>
        <?php if (!empty($object['remarks'])): ?>
            <div class="panel panel-info comment">
                <div class="panel-heading">
                    <strong>Registration Remarks</strong>
                </div>
                <div class="panel-body">
                    <?= $this->format_plain_text($object['remarks']) ?>
                </div>
            </div>
        <?php endif ?>
        <?php foreach ($comments as $comment): ?>
            <div class="panel <?php if (strpos($comment['type'], 'Check') === 0): ?>panel-default<?php elseif ($comment['type'] === 'Incident' || $comment['type'] === 'Medical'): ?>panel-danger<?php else: ?>panel-info<?php endif ?> comment">
                <div class="panel-heading">
                    <ul class="list-inline">
                        <li>
                            <strong><?= $this->html($comment['type']) ?></strong>
                        </li>
                        <li>&ndash;</li>
                        <li>
                            <a href="https://www.svcover.nl/profiel.php?lid=<?= $this->attr($comment['commenter_cover_id']) ?>" target="_blank">
                                <?= $this->html($comment['commenter_name']) ?>
                            </a>
                        </li>
                        <li>&ndash;</li>
                        <li>
                            <?= $this->html($comment['timestamp']) ?>
                        </li>
                        <?php if ((int)$comment['commenter_cover_id'] === get_cover_session()->id && strpos($comment['type'], 'Check') !== 0): ?>
                            <li>&ndash;</li>
                            <li><a href="/camp/comment.php?view=update&id=<?= $this->attr($comment['id']) ?>" data-popup="modal">edit</a></li>
                        <?php elseif ((int)$comment['commenter_cover_id'] === get_cover_session()->id): ?>
                            <li>&ndash;</li>
                            <li><a href="/camp/comment.php?view=delete&id=<?= $this->attr($comment['id']) ?>" data-popup="modal">delete</a></li>
                        <?php endif ?>
                    </ul>
                </div>
                <?php if (!empty($comment['comment'])): ?>
                    <div class="panel-body">
                        <?= $this->format_plain_text($comment['comment']) ?>
                    </div>
                <?php endif ?>
            </div>
        <?php endforeach ?>
        <?= $comment_form->render('/camp/comment.php?view=create&participant_id=' . $object['id']) ?>
    </section>
</div>
<?php $this->end() ?>

<?php $this->begin('scripts') ?>
    <script src="/static/js/dialog.js"></script>
<?php $this->end() ?>
