<?php $this->extends('../camp/registration_base.phtml') ?>

<?php $this->begin('form') ?>
    <?php if (cover_session_logged_in()): ?>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Hi <?= get_cover_session()->voornaam ?>! We prefilled the form with some your information from the Cover website.
        </div>
    <?php else: ?>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Hi there! Did you know that if you log in onto the Cover website (membership required) we can fill in most of this form already? You can log in <a href="<?= cover_login_url() ?>">here</a>, or sign up <a href="//www.svcover.nl/join">here</a>.
        </div>
    <?php endif ?>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" <?php if ($form->get_value('type') == 'First-year'): ?>class="active"<?php endif ?>>
            <a href="#first-year" aria-controls="first-year" role="tab" data-toggle="tab">I'm a first-year student</a>
        </li>
        <li role="presentation" <?php if ($form->get_value('type') != 'First-year'): ?>class="active"<?php endif ?>>
            <a href="#senior" aria-controls="senior" role="tab" data-toggle="tab">I'm a senior student</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane <?=($form->get_value('type') == 'First-year') ? 'active' : '' ?>" id="first-year">
            <?php if ($first_years_full): ?>
                <div class="alert alert-warning alert-dismissible alert-waiting-list" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                        At the moment, all spots for the introductory camp are taken. You can still sign up, and we recommend to do so, but you will be placed on the waiting list. In case someone cancels it would mean you still get to come! We will contact you in due time if you are still eligible for joining. 
                    </p>
                    <p>
                        <strong>
                            We will not charge you if you are on the waiting list.
                        </strong>
                    </p>
                </div>
            <?php endif ?>
            <form method="POST">
                <input type="hidden" name="type" value="First-year">
                <h3>Personal</h3>
                <?= $form->render_field('student_number', ['placeholder' => 's1234567']) ?>
                <?= $form->render_field('first_name', ['placeholder' => 'Jan']) ?>
                <?= $form->render_field('surname', ['placeholder' => 'de Joker']) ?>
                <?= $form->render_field('birthday', ['placeholder' => '20-09-1993']) ?>
                <h3>Contact</h3>
                <?= $form->render_field('email', ['placeholder' => 'introcee@svcover.nl']) ?>
                <?= $form->render_field('address', ['placeholder' => 'Nijenborgh 9']) ?>
                <?= $form->render_field('postal_code', ['placeholder' => '9747 AG']) ?>
                <?= $form->render_field('city', ['placeholder' => 'Groningen, The Netherlands']) ?>
                <?= $form->render_field('phone', ['placeholder' => '+316 1234 5678']) ?>

                <div class="form-group <?= !empty($form->get_field('emergency_phone')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('emergency_phone')->render_label() ?>
                    <?= $form->get_field('emergency_phone')->render(['class'=> 'form-control', 'placeholder' => '+3150 363 6898']) ?>
                    <?php foreach ($form->get_field('emergency_phone')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> Phone number of a parent, family member or carer whom we should contact in emergency situations.
                    </div>
                </div>
                <h3>Financial</h3>
                <div class="form-group <?= !empty($form->get_field('iban')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('iban')->render_label() ?>
                    <?= $form->get_field('iban')->render(['class'=> 'form-control', 'placeholder' => 'NL37BANK0123456789']) ?>
                    <?php foreach ($form->get_field('iban')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> Please contact <a href="mailto:introcee@svcover.nl">introcee@svcover.nl</a> if your bank account doesn't have an IBAN.
                    </div>
                </div>
                <?= $form->render_field('bic', ['placeholder' => 'BANKNL2G']) ?>
                <h3>Other</h3>
                <?= $form->render_field('study') ?>
                <?= $form->render_field('is_vegetarian') ?>
                <div class="form-group <?= !empty($form->get_field('remarks')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('remarks')->render_label() ?>
                    <?= $form->get_field('remarks')->render(['class'=> 'form-control', 'placeholder' => 'Comments (allergies, medication, remarks)', 'rows'=>3]) ?>
                    <?php foreach ($form->get_field('remarks')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> If you have any allergies or diet restrictions (other than vegetarian), use any medication, have disabilities or other remarks about your registration, please let us know through this field.
                    </div>
                </div>
                <div class="checkbox <?= empty($form->get_field('has_agreed_terms')->errors) ? '' : 'has-error' ?>">
                    <label>
                        <?= $form->get_field('has_agreed_terms')->render() ?>
                        I have read and agree to the <a href='/static/docs/Terms-and-Conditions-Introduction-Camp-Cover-2018.pdf'>terms and conditions</a>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up!</button>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane <?=($form->get_value('type') != 'First-year') ? 'active' : '' ?>" id="senior">
            <?php if ($seniors_full): ?>
                <div class="alert alert-warning alert-dismissible alert-waiting-list" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                        At the moment, all spots for the introductory camp are taken. You can still sign up, and we recommend to do so, but you will be placed on the waiting list. In case someone cancels it would mean you still get to come! We will contact you in due time if you are still eligible for joining. 
                    </p>
                    <p>
                        <strong>
                            We will not charge you if you are on the waiting list.
                        </strong>
                    </p>
                </div>
            <?php endif ?>
            <form method="POST">
                <input type="hidden" name="type" value="Senior">
                <h3>Personal</h3>
                <?= $form->render_field('first_name', ['placeholder' => 'Jan']) ?>
                <?= $form->render_field('surname', ['placeholder' => 'de Joker']) ?>
                <?= $form->render_field('birthday', ['placeholder' => '20-09-1993']) ?>
                <h3>Contact</h3>
                <?= $form->render_field('email', ['placeholder' => 'introcee@svcover.nl']) ?>
                <?= $form->render_field('address', ['placeholder' => 'Nijenborgh 9']) ?>
                <?= $form->render_field('postal_code', ['placeholder' => '9747 AG']) ?>
                <?= $form->render_field('city', ['placeholder' => 'Groningen']) ?>
                <?= $form->render_field('phone', ['placeholder' => '+3150 363 6898']) ?>
                <div class="form-group <?= !empty($form->get_field('emergency_phone')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('emergency_phone')->render_label() ?>
                    <?= $form->get_field('emergency_phone')->render(['class'=> 'form-control', 'placeholder' => '+3150 363 6898']) ?>
                    <?php foreach ($form->get_field('emergency_phone')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> Phone number of a parent, family member or carer whom we should contact in emergency situations.
                    </div>
                </div>
                <h3>Financial</h3>
                <?= $form->render_field('iban', ['placeholder' => 'NL37BANK0123456789']) ?>
                <?= $form->render_field('bic', ['placeholder' => 'BANKNL2G']) ?>
                <h3>Other</h3>
                <?= $form->render_field('study') ?>
                <?= $form->render_field('study_year') ?>
                <?= $form->render_field('mentor') ?>
                <?= $form->render_field('has_drivers_license') ?>
                <?= $form->render_field('is_vegetarian') ?>
                <div class="form-group <?= !empty($form->get_field('remarks')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('remarks')->render_label() ?>
                    <?= $form->get_field('remarks')->render(['class'=> 'form-control', 'placeholder' => 'Comments (allergies, medication, remarks)', 'rows'=>3]) ?>
                    <?php foreach ($form->get_field('remarks')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> If you have any allergies or diet restrictions (other than vegetarian), use any medication, have disabilities or other remarks about your registration, please let us know through this field.
                    </div>
                </div>
                <div class="checkbox <?= empty($form->get_field('has_agreed_terms')->errors) ? '' : 'has-error' ?>">
                    <label>
                        <?= $form->get_field('has_agreed_terms')->render() ?>
                        I have read and agree to the <a href="/static/docs/Terms-and-Conditions-Introductory-Camp-Cover-20190725.pdf">terms and conditions</a>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up!</button>
                </div>
            </form>
        </div>
    </div>
<?php $this->end() ?>
