
<h2>Grab list</h2>
<p>
    Information about what to bring to each activity will be provided at a later date as soon as we confirm them.
</p>
<!-- Remove comments and previous paragraph to bring back the grab list, then use the given list template to add more items, and more div tags for seperate sections
<div class="row">
    <div class="col-sm-4">
        <h4>Items</h4>
        <ul class="list-unstyled">
            <li class="checkbox">
                <label for="item">
                    <input type="checkbox" id="item">
                    Some item.
                </label>
            </li>
        </ul>
    </div>
</div>
<p><strong>NB</strong> for your convenience, we store the items you checked in your browser's local storage (<button id="grablist_clear_storage" class="btn btn-link">clear now</button>). If you don't want that, then don't check the check boxes.</p>
-->
