<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container-narrow">
    <?php if ($status === 'success'): ?>
        <h1>Success!</h1>
        <?php if ($data['status'] === 'waiting_list'): ?>
            <p class="happy-message">
                You are now on the waiting list! Please check your inbox for a confirmation email.
            </p>
        <?php else: ?>
            <p class="happy-message">
                We have received your registration. Please check your inbox for a confirmation email.
            </p>
        <?php endif ?>
    <?php else: ?>
        <h1>Oh dear! Something went wrong :(</h1>
        <p>
            <?= $this->html($message) ?>
        </p>
        <p>
            Please contact the <a href="mailto:introcee@svcover.nl">IntroCee</a>!
        </p>
    <?php endif ?>
</div>
<?php $this->end() ?>
