<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration IntroCamp Cover</title>
    <style>
    body {
        font: 13px/16px sans-serif;
    }
    </style>
</head>
<body>
    <p>Dear <?= $this->html($first_name) ?>,</p>
    <?php if ($status === 'waiting_list'): ?>
        <p>Thank you for your registration. You are on the waiting list and will hear back from us as soon as there is a spot available.</p>
    <?php else: ?>
        <p>Thank you for your registration. You'll hear back from us later.</p>
    <?php endif ?></p>

    <?php if ($qr): ?>
        <p>
            We generated a QR code for you that will serve as your ticket. Make sure you can show this at the start of the camp. You can also view it in your browser using <a href="<?= $this->attr(SERVER_NAME . '/camp/participant.php?uuid=' . $uuid ) ?>">this personal link</a>.
        </p>
        <a href="<?= $this->attr(SERVER_NAME . '/camp/participant.php?uuid=' . $uuid ) ?>">
            <img alt="Your personalised QR code" height="200" width="200" src="<?= $this->attr($qr) ?>">
        </a>
    <?php else: ?>
        <p>
            We tried to generate a QR code for you to serve as your ticket, but failed. Don't worry, we're on it. As soon as we fixed the problems, you can view it in your browser using <a href="<?= $this->attr(SERVER_NAME . '/camp/participant.php?uuid=' . $uuid ) ?>">this personal link</a>. Make sure you can show it at the start of the camp.
        </p>
    <?php endif ?>

    <hr>

    <p>Just as a reminder, this is what you entered:</p>
    <ul>
        <li>Name: <?= $this->html($first_name) ?> <?= $this->html($surname) ?></li>
        <li>Birthday: <?= $this->html($birthday) ?></li>
        <li>Address: <?= $this->html($address) ?></li>
        <li>Postal code: <?= $this->html($postal_code) ?></li>
        <li>Place of residence: <?= $this->html($city) ?></li>
        <li>Email: <?= $this->html($email) ?></li>
        <li>Phone: <?= $this->html($phone) ?></li>
        <li>Emergency phone: <?= $this->html($emergency_phone) ?></li>
        <li>IBAN: <?= $this->html($iban) ?></li>
        <?php if (!empty($bic)): ?>
            <li>BIC: <?= $this->html($bic) ?></li>
        <?php endif ?>
        <?php if ($type === 'First-year'): ?>
            <li>Student number: <?= $this->html($student_number) ?></li>
        <?php endif ?>
        <li>Study: <?= $this->html($study) ?></li>
        <li>You are a <?= $this->html($type) ?></li>
        <?php if (!empty($is_vegetarian)): ?>
            <li>You are a vegetarian</li>
        <?php endif ?>
        <?php if (!empty($has_drivers_license)): ?>
            <li>You have a drivers license</li>
        <?php endif ?>
        <li>You have read and agreed to the terms and conditions.</li>
        <li>Comments: <?= $this->format_plain_text($remarks) ?></li>
    </ul>

    <hr>

    <p>If you have any further questions, please contact us at <a href="mailto:introcee@svcover.nl">introcee@svcover.nl</a>.</p>
    <p>Kind regards,<br>The IntroCee 🐾</p>
</body>
</html>
