<?php $this->extends('../camp/registration_base.phtml') ?>

<?php $this->begin('form') ?>
    
<strong>There is a different sign up form for each activity throughout the weekend but we encourage you to sign up for all of them for a more complete introductory experience!</strong>

<h3>Cover Time City Tour</h3>

<p>Get to know the city and your fellow AI and CS students during this Cover Time city tour full of amazing games. One team will also be crowned winner at the end and recieve prizes.</p>

<p><strong>Sign Ups Closed</strong></p>

<h3>Stadslab Terrace Social</h3>

<p>What better way to begin the new academic year than having a social with fellow Cover members in the amazing Stadslab Groningen? The IntroCee is organizing this banger of an event which includes good music, food and drinks at a lovely terrace location!</p>

<p>We highly encourage all newly joining first years participate in this social to get to know your peers in your course, while at the same time, senior years can also join, but do note that priority will go to first years! We will finalize the attendance a couple days before the event!</p>

<p>The sign up fee for the event is 10 euros but with this you will not only get access to the terrace but also a coctail (alcoholic or non-alcoholic), 4 more free drinks of your choice, and plenty of snacks. (What a deal!)</p>

<p>(Disclaimer: Testing voor toegang (Testing before entry) is mandatory. For more information, visit <a href="https://coronacheck.nl/nl/">coronacheck.nl</a>)</p>

<p><strong>Sign Ups Closed</strong></p>

<h3>Jeu de boules and drinks at BOEL</h3>

<p>Do you want to play jeu de boules at a very trendy cafe in the city? Do you want to find out why jeu de boules is not just a game for old folks but also for young people? But most of all; do you want to get to know other first-year students while doing a nice activity? Then this is THE event for you! You can sign up for free: this means 90 minutes of playing the game and a drink! See the <a href="https://boelgroningen.nl/">BOEL website</a> for more infromation about the venue.</p>

<p>(Disclaimer: Testing voor toegang (Testing before entry) is mandatory. For more information, visit <a href="https://coronacheck.nl/nl/">coronacheck.nl</a>)</p>

<p><a href = "https://forms.gle/b9VfZufKJrjV312n6">Sign up and more information</a> (Deadline 23:59, 11th September)</p>

<?php $this->end() ?>