<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<header id="camp" class="hero">
    <div class="event">
        <h1 class="name">Introductory Weekend 2021</h1>
        <div class="datetime">10 &ndash; 12 September 2021</div>
        <a class="call-to-action" href="#registration-form">Sign up now!</a>
    </div>
</header>
<section class="container-narrow">
    <p>
    Are you sick and tired of not having much social interaction with like-minded people? Did COVID throw a blanket over the wild and crazy parties that you could have had? And most importantly, are you looking forward to starting your student life at the RUG with a BANG?
    </p>
    <p style = "text-align: center;font-weight: bold">
        Wait no longer then, because <span style="color: red">COVER TIME</span> is going to be <span style="color: red">THE event of your year!</span>
    </p>
    <p>
        An era-themed introduction weekend organized by Cover’s IntroCee, COVER TIME will definitely get you psyched to be an AI/CS student at the RuG, while also giving the opportunity to get to know your peers in the course! It will be an absolutely amazing weekend filled with games and activities that will certainly bring everyone together as a community! We do not want to give away too much about the weekend, but we have planned some insane activities that include the theme, of which the most important is the social (exactly what you think it is going to be). We strongly encourage you to join the most incredible events that you will ever have in your university life, and we hope to see all of you on the weekend :)
    </p>
</section>
<section class="container-narrow">
    <h2>Details</h2>
    <p>
        COVER TIME will take place during the Kick-Off Week, which is tentatively from Monday, the 6th of September, till Sunday, the 12th of September. Currently, we are still in the process of finalizing details and as such, will announce the cost of COVER TIME in due time (pun intended).
    </p>
    <p>
        In order to guarantee the safety and good ambiance during the introductory weekend, the study association is affiliated with the ACI (Advies Commissie Introductietijden). The ACI is an independent RUG agency which advises us where needed. It is always possible to contact them with general questions regarding the introductory period through their <a href="https://www.rug.nl/studenten/aci" target="_blank">website</a>.
    </p>
</section>
<section class="container-narrow">
    <h2>Location</h2>
    <p>
        What better location than the amazing city of Groningen? The exact locations of where the activities will be occurring in Groningen will be announced as soon as we confirm the locations can host us!
    </p>
</section>
<section id="grablist" class="container-narrow">
    <?php include 'registration_grablist.phtml' // Not the prettiest design pattern and also not really reccomended. But it keeps this file reasonably clean. ?>
</section>
<section id="registration-form" class="container-narrow">
    <h2>Sign up</h2>
    <?= !empty($form) ? $form : ''?>
</section>
<?php $this->end() ?>

<?php $this->begin('scripts') ?>
    <script src="/static/js/grablist.js"></script>
<?php $this->end() ?>
