<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('styles') ?>
    <link rel="stylesheet" href="/static/css/scanner.css" type="text/css">
    <link rel="stylesheet" href="/static/css/typeaheadjs.css" type="text/css">
<?php $this->end() ?>

<?php $this->begin('content') ?>
<div class="container-narrow">
    <header class="page-header">
        <h1>Scanner</h1>
        <?php if ($action): ?>
            <div class="controls">
                <a class="btn btn-default" href="?">Reset</a>
            </div>
        <?php endif ?>
    </header>
    <?php if ($action === 'custom'): ?>
        <form method="GET">
            <input type="hidden" name="action" value="comment">
            <?php foreach ($form->get_fields() as $name => $field): ?>
                <?php if ($name === 'mode'): ?>
                    <?= $form->render_field($name, ['value' => $this->attr($field->value)]) ?>
                <?php else: ?>
                    <?= $form->render_field($name) ?>
                <?php endif ?>
            <?php endforeach ?>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
        </form>
    <?php elseif ($action): ?>
        <div class="form-group {% if form.member_id.errors %}has-error{% endif %}">
            <label for="participant" class="sr-only">Search participant name</label>
            <input id="participant" type="text" class="form-control typeahead" autocomplete="off" placeholder="Search participant name…">
        </div>

        <div class="scanner">
            <div id="scanner-loading">
                <div class="icon"><i class="fas fa-video fa-5x"></i></div>
                <div class="message">Unable to access video stream. Please make sure your camera is enabled.</div>
            </div>
            <canvas id="scanner-canvas" hidden></canvas>
            <div id="scanner-result" hidden>
                <div class="icon">
                    <i class="fas fa-check-circle fa-5x"></i>
                    <i class="fas fa-times-circle fa-5x"></i>
                </div>
                <div class="message"></div>
                <div class="participant"></div>
                <button id="scanner-result-dismiss" type="button" class="btn btn-wire">New Scan</button>
            </div>
        </div>

        <ul class="list-inline scanner-summary text-muted">
            <li>
                <strong>Mode:</strong>
                <?php if ($action === 'comment'): ?>
                    Comment
                <?php else: ?>
                    Find
                <?php endif ?>
            </li>
            <?php if ($action === 'comment'): ?>
                <li>
                    <strong>Strict mode:</strong>
                    <?php if (isset($_GET['mode']) && $_GET['mode'] === 'strict'): ?>
                        ON
                    <?php else: ?>
                        OFF
                    <?php endif ?>
                </li>
                <?php if (isset($_GET['type'])): ?>
                    <li><strong>Type:</strong> <?= $this->html($_GET['type']) ?></li>
                <?php endif ?>
                <?php if (isset($_GET['comment'])): ?>
                    <li class="truncate"><strong>Comment:</strong> <?= $this->html($_GET['comment']) ?></li>
                <?php endif ?>
            <?php endif?>
        </ul>
    <?php else: ?>
        <a href="?action=goto" class="btn btn-primary btn-lg btn-block">Find participant</a>
        <a href="?action=comment&mode=strict&type=Check-in" class="btn btn-success btn-lg btn-block">Check-in</a>
        <a href="?action=comment&mode=strict&type=Check-out" class="btn btn-danger btn-lg btn-block">Check-out</a>
        <a href="?action=custom" class="btn btn-default btn-lg btn-block">Custom</a>
    <?php endif ?>
</div>
<?php $this->end() ?>

<?php $this->begin('scripts') ?>
<script src="/static/js/typeahead.bundle.min.js"></script>
<script src="/static/js/jsQR.js"></script>
<script src="/static/js/scanner.js"></script>
<?php $this->end() ?>
