<?php $this->extends('/layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container-narrow">
    <header>
        <h1 class="sr-only">Hi, we are the IntroCee!</h1>
        <figure class="photo">
            <img id="introcee-photo" src="/static/img/committee/introcee21.png" alt="Photo of the IntroCee">
            <button id="reload-introcee-photo" aria-hidden="true" class="btn btn-link" type="button"><i class="fas fa-redo"></i></button>
            <figcaption>
                <h1 id="introcee-title" class="name boxed">Hi, we’re the IntroCee!</h1>
            </figcaption>
        </figure>
        <div class="description">
            <p>
                As Cover’s Introduction Committee, we’re responsible for organising the introductory weekend and Cover’s part of the Kick-off Week. Over the past few months, we have worked long and hard to prepare the best games and activities and compile an awesome programme for your introduction period. We hope you’ll have an awesome time getting to know your fellow students. It’s about TIME!
            </p>
        </div>
    </header>
    <section id="daan" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Daan Kahmann</h2>
                <div class="function boxed">Chair</div>
            </div>
            <p>
                Hi lovely (future) members of Cover!
            </p><p>
                I am Daan and I am the chair of this year's introCee. This means that I need to be the person that keep these wild committee members of mine in check, although often it may be the other way around. I am now a second-year AI student (soon to be third-year) and still remember my intro camp very well! For me this was a nice introduction to a big part of the student life and I am very motivated to give you all the same, or an even better experience! 
            </p><p>    
                Hope to see you all during this year's camp and intro week!
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Daan.jpeg" alt="Photo of Daan">
                <figcaption>
                    <div class="quote boxed">Boss man</span></div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="aniek" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Aniek Eijpe</h2>
                <div class="function boxed">Secretary</div>
            </div>
            <p>
                Hello all! My name is Aniek, I’m a third-year AI student and the secretary of the IntroCee.  You’ll probably also see me next year as is I “decided” to take a fourth year, so jeej! I’m really looking forward to the IntroCamp and kickoff week and hope to see you all! I have met two of my lovely committee members at my own IntroCamp and I remember how much fun it was, so I can highly recommend going! Next to that, it is organized by us, so fun it will and must be!! As you’ve probably noticed I use a lot of ‘!’, to express my undying enthusiasm :) If you want to know more, call me (no jk, just talk to me at the camp). 
            </p><p>
                PS: If you’re hurt and bleeding, please do not come to me as I WILL faint. However, if you need my help with games or other fun stuff, I’m all in! :)
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img class="has-fit-contain" src="/static/img/committee/Aniek.jpeg" alt="Photo of Aniek">
                <figcaption>
                    <div class="quote boxed">Call girl</div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="chris" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Chris Worthington</h2>
                <div class="function boxed">Treasurer</div>
            </div>
            <p>
                Hello, my name’s Chris, and I should definitely start this off by saying that I really can’t write so this might not be very interesting. I’ve been active in cover for three years and think it’s one of the best ways to make life at the university more interesting beyond just the studies. That is why I am very excited to organise the introduction week for all the new first years and get them accustomed to the association. There is nothing more to write because I lack a personality. That’s all folks! Thanks for coming to my TED talk.
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Chris.jpg" alt="Photo of Chris">
                <figcaption>
                    <div class="quote boxed">Money man</div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="abhishek" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Abhishek Kumar</h2>
                <div class="function boxed">General Member</div>
            </div>
            <p>
                What’s good yall! I’m Abhishek and I’m a first year CS student going into my second year and I’m part of this year’s IntroCee and together with the rest of this committee, we’ll be throwing yall the best party/camp/event that you will have in your first year!! I’d like to think I’m a very bubbly person that laughs at the most stupidest things but I’m sure you’ll find out soon enough, so I hope that would make people feel a bit more welcome :) Also I’m called hydration specialist but really that’s just a glorified name for water boy if ya didn’t already know xd
            </p><p>    
                ps: I currently have 10 million anytimers for always being late
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Abhishek.jpeg" alt="Photo of Abhishek">
                <figcaption>
                    <div class="quote boxed">Hydration specialist</div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="anniek" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Anniek Theuwissen</h2>
                <div class="function boxed">General Member</div>
            </div>
            <p>
            Hi everyone! I am Anniek, but don't be confused when the other committee members call me Teun ;) I am in my third year of AI and will hopefully get my bachelor's degree next year. During my own introcamp three years ago I had a lot of fun and I met people that have made my study a lot more fun and I am still friends with so I can really encourage you all to go!! I am already looking forward to it and hope to see you all!
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Anniek.jpeg" alt="Photo of Anniek">
                <figcaption>
                    <div class="quote boxed">Foodie</span></div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="sanne" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Sanne Berends</h2>
                <div class="function boxed">General Member</div>
            </div>
            <p>
                Hi! I’m Sanne and I’m currently a third-year AI student. You might see me around the coming years since I’m also starting CS this year. I really like to cook in my free time (among other things), so if you are looking for me you can probably find me in the kitchen during the camp :) I look forward to seeing you all!
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Sanne.jpeg" alt="Photo of Sanne">
                <figcaption>
                    <div class="quote boxed">Foodie</span></div>
                </figcaption>
            </figure>
        </a>
    </section>
    <section id="rutger" class="member">
        <div class="description">
            <div class="header">
                <h2 class="name boxed">Rutger Wuijster</h2>
                <div class="function boxed">General Member</div>
            </div>
            <p>
                My highschool mentor called me an 'absent-minded professor' which I totally agreed with back then. Though most of the time I like to think this is not the case anymore, most people would probably still call me something like 'absent minded'. In this essay I will...
            </p>
        </div>
        <a target="_blank" class="photo">
            <figure>
                <img src="/static/img/committee/Rutger.jpeg" alt="Photo of Jens">
                <figcaption>
                    <div class="quote boxed">Keeper of the beers</span></div>
                </figcaption>
            </figure>
        </a>
    </section>
</div>
<?php $this->end() ?>

<?php $this->begin('scripts') ?>
<script type="text/javascript">
    document.getElementById('reload-introcee-photo').addEventListener('click', function(evt) {
        var element = document.getElementById('introcee-photo')
        if (!element.dataset.previous) {
            element.dataset.previous = 0;
            element.alt = "One of many IntroCee memes";
            document.getElementById('introcee-title').classList.add('hidden');
            document.getElementById('reload-introcee-photo').classList.add('triggered');
        }
        var number = (Math.floor(Math.random() * 9) + 1);

        while (number == element.dataset.previous)
            number = (Math.floor(Math.random() * 9) + 1);

        document.getElementById('introcee-photo').src = '/static/img/memes/' + number + '.jpg';
        element.dataset.previous = number;
    });

    document.querySelectorAll('.audio').forEach( function(element) {
        var audio = new Audio(element.href);
        audio.addEventListener('ended', () => element.blur());
        element.addEventListener('click', function(evt) {
            evt.preventDefault();
            audio.play();
        });
    });
</script>
<?php $this->end() ?>
