<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><?= !empty($dialog_title) ? $dialog_title : ''?></h4>
                </div>
                <div class="modal-body">
                    <?php if (!empty($dialog_content)): ?>
                        <?= $dialog_content ?>
                    <?php else: ?>
                        <?php foreach ($form->get_fields() as $name => $field): ?>
                            <?= $form->render_field($name) ?>
                        <?php endforeach ?>
                    <?php endif ?>
                </div>
                <div class="modal-footer">
                    <?php if (!empty($dialog_footer)): ?>
                        <?= $dialog_footer ?>
                    <?php else: ?>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    <?php endif ?>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
