<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<header class="hero">
    <div class="wrapper">
        <h1 class="sr-only">Cover Time - It's been ages!</h1>
        <img class="logo" src="/static/img/logo21.png" alt="Cover Time - It's been ages!">
        <ul class="events">
            <li class="event">
                <a href="/camp">
                    <div class="name">Introductory Weekend</div>
                    <div class="datetime">10 &ndash; 12 September 2021</div>
                </a>
            </li>
            <li class="event">
                <a href="/bbq">
                    <div class="name">Kick-off week</div>
                    <div class="datetime">6 &ndash; 10 September 2021</div>
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="container-narrow">
    <h2>Hi, welcome to Groningen!</h2>
    <p>
        Are you starting the Bachelor Artificial Intelligence or Computing Science at the University of Groningen in 2021? Join the introductory weekend organised by study association Cover! This is the opportunity to get to know your fellow students in a fun way and to make some new friends. The event is organised by Cover's IntroCee (that's short for Introduction Committee) and it's open for all first-year students of AI and CS.
    </p>
    <h3><strong>NOTICE</strong></h3>
    <strong>
        The event will not be an overnight camp as in previous years, It will instead be a series of events over the course of the weekend.
    </strong>
    <h3>Theme</h3>
    <p>
        This year's theme is <strong>Cover Time</strong>! If the name is not clear enough: we are taking you back through the time, better times without the c-word in our lifes. This all to celebrate that we can (hopefully) leave this time behind us. This theme will be noticed throughout different activities during the weekend and will hopefully make the weekend even more memorable! So all that left for is to say is this: sign up for an amazing start of your student years!
    </p>
    <p>Still not convinced? Watch the aftermovies from previous camps!</p>
    <p><a href="/camp" class="btn btn-lg btn-primary">Sign up now!</a></p>
</section>
<section id="themevideo" class="video">
    <a href="https://youtu.be/RvQzbYtn1oo" target="_blank">
        <h2>Theme Movie</h2>
        <i class="fab fa-youtube fa-5x white"></i>
    </a>
</section>
<section id="aftermovie" class="video">
    <a href="https://youtu.be/Ri7FL9maKXc" target="_blank">
        <h2>Aftermovie 2017</h2>
        <i class="fab fa-youtube fa-5x white"></i>
    </a>
</section>
<section id="contact" class="container-narrow">
    <h2>Contact</h2>
    <p>Please do not hessitate to contact us if you have any questions about the camp!</p>
    <ul class="list-unstyled">
        <li>
            <i class="fas fa-envelope-square"></i> Send us an email at <a href="mailto:introcee@svcover.nl">introcee@svcover.nl</a>
        </li>
    </ul>
</section>
<section id="contact" class="container-narrow">
    <p>To keep up to date on information about the introduction camp</p>
    <ul class="list-unstyled">
        <li>
            <i class="fab fa-instagram-square"></i> Follow us on Instagram: @<a href = "https://www.instagram.com/introcee.svcover">introcee.svcover</a>
        </li>
    </ul>
</section>
<?php $this->end() ?>
