<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php if (!empty($title)):?><?= $title ?> &mdash; <?php endif ?> Cover Intro Week 2021</title>

    <link rel="icon" href="/static/img/favicon/32.png?v=2" sizes="32x32">
    <link rel="icon" href="/static/img/favicon/57.png?v=2" sizes="57x57">
    <link rel="icon" href="/static/img/favicon/76.png?v=2" sizes="76x76">
    <link rel="icon" href="/static/img/favicon/96.png?v=2" sizes="96x96">
    <link rel="icon" href="/static/img/favicon/128.png?v=2" sizes="128x128">
    <link rel="icon" href="/static/img/favicon/192.png?v=2" sizes="192x192">
    <link rel="icon" href="/static/img/favicon/228.png?v=2" sizes="228x228">
    
    <!-- Include stylesheets -->
    <script src="//kit.fontawesome.com/035fa9f306.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdl.svcover.nl/css/cdl.css" type="text/css">
    <link rel="stylesheet" href="/static/css/introcee.css" type="text/css">
    <?= !empty($styles) ? $styles : ''?>
</head>
<body id="<?= $page_id ?>">
    <nav class="navbar navbar-cover">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed navicon-button" href="#navbar-main-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbar-main-collapse">
                    <span class="navicon navicon-white"></span>
                </button>
                <a href="//www.svcover.nl/" class="navbar-logo"><img src="//sd.svcover.nl/Logos/Cover/white/cover_logo_white.svg" alt="Cover"></a>
                <a href="/" class="navbar-brand">Intro Week 2021</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-right">
                    <li <?php if (substr($page_id, 0, 4) === 'camp'): ?>class="active"<?php endif ?> >
                        <a href="/camp">Weekend</a>
                    </li>
                    <li <?php if (substr($page_id, 0, 3) === 'bbq'): ?>class="active"<?php endif ?> > 
                        <a href="/bbq">Kick-off week</a>
                    </li>
                    <li <?php if ($page_id == 'committee'): ?>class="active"<?php endif ?> >
                        <a href="/committee.php">Committee</a>
                    </li>
                    <?php if(cover_session_logged_in() && cover_session_in_committee(array_merge([ADMIN_COMMITTEE], SUPPORT_COMMITTEES))): ?>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Admin</li>
                                <li><a href="/camp/scanner.php">Scanner</a></li>
                                <li><a href="/camp/participant.php?view=present">Participants</a></li>
                                <li role="separator" class="divider"></li>
                                <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
                                    <li class="dropdown-header">Registrations</li>
                                    <li><a href="/camp/admin.php">Registrations Camp</a></li>
                                    <li><a href="/bbq/admin.php">Registrations Barbecue</a></li>
                                    <li role="separator" class="divider"></li>
                                <?php endif ?>
                                <li class="dropdown-header">Logged in as <?= $this->html(get_cover_session()->voornaam) ?></li>
                                <li><a href="<?= cover_logout_url() ?>">Logout</a></li>
                            </ul>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page">
        <!-- Insert rendered content -->
        <div class="content">
            <?= !empty($content) ? $content : ''?>
        </div>

        <footer class="footer">
            <div class="container container-narrow text-muted">
                <ul class="list-inline">
                    <li><a href="mailto:introcee@svcover.nl">Contact</a></li>
                    <li><i class="fas fa-paw"></i></li>
                    <li><a href="/static/docs/Terms-and-Conditions.pdf">Terms & Conditions</a></li>
                    <li><i class="fas fa-paw"></i></li>
                    <li><a href="//sd.svcover.nl/Privacy%20Statement/Privacy%20statement.pdf">Privacy statement</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Ìnclude scripts -->
    <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <?= !empty($scripts) ? $scripts : ''?>
</body>
</html>
