<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container container-narrow">
    <header>
        <h1>Barbecue Registration</h1>
    </header>
    <?= $form->render() ?>
</div>
<?php $this->end() ?>
