<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="container-fluid">
    <header class="page-header">
        <h1>Registrations for the Barbecue</h1>
        <div class="controls">
            <a class="btn btn-default" href="?view=csv">Export</a>
            <!-- <a class="btn btn-primary" href="?view=
                create">Add</a> -->
        </div>
    </header>

    <h2>Statistics</h2>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-4">
            <div class="table-responsive">
                <table class="table table-hover ">        
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Registered</th>
                            <th>Cancelled</th>
                            <th>Registered vegetarians</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($statistics as $type => $stats): ?>
                            <?php if ($type === 'totals') continue; ?>
                            <tr>
                                <td><?= $type ?></td>
                                <td><?= $stats['registered'] ?></td>
                                <td><?= $stats['cancelled'] ?></td>
                                <td><?= $stats['vegetarians'] ?></td>
                            </tr>
                        <?php endforeach ?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th><?= $statistics['totals']['registered'] ?></th>
                            <th><?= $statistics['totals']['cancelled'] ?></th>
                            <th><?= $statistics['totals']['vegetarians'] ?></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <h2>Registrations</h2>
    <div class="table-responsive"> 
        <table class="table table-hover table-registrations" id="registrations">
            <thead>
                <tr>
                    <th>Type</th>   
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>IBAN</th>
                    <th>BIC</th>
                    <th>Study</th>
                    <th>Remarks</th>
                    <th>Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($objects as $participant): ?>
                    <tr <?php if ($participant['status'] !== 'registered'): ?>class="text-muted"<?php endif ?>>
                        <td><?= $this->html($participant['type']) ?></td>
                        <td><?= $this->html($participant['first_name']) ?></td>
                        <td><?= $this->html($participant['surname']) ?></td>
                        <td <?php if (date_diff(date_create($participant['birthday']), date_create('now'))->y < 18): ?>class="text-danger"<?php endif ?>>
                            <?= $this->html($participant['birthday']) ?>
                        </td>
                        <td title="<?= $this->attr($participant['address'] . "\n" . $participant['postal_code'] . " " . $participant['city']) ?>"><?= $this->html($participant['address']) ?>, <?= $this->html($participant['postal_code']) ?>, <?= $this->html($participant['city']) ?></td>
                        <td><?= $this->html($participant['email']) ?></td>
                        <td><?= $this->html($participant['iban']) ?></td>
                        <td><?= $this->html($participant['bic']) ?></td>
                        <td><?= $this->html($participant['study']) ?></td>
                        <td class="truncate" title="<?= $this->attr($participant['remarks']) ?>"><?= $this->html($participant['remarks']) ?></td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <?php if ($participant['status'] === 'registered'): ?>
                                        <span class="label label-success">Registered</span>
                                    <?php elseif ($participant['status'] === 'cancelled'): ?>
                                        <span class="label label-danger">Cancelled</span>
                                    <?php endif ?>
                                </li>
                                <?php if ($participant['is_vegetarian'] == 1): ?>
                                    <li>
                                        <span class="text-success" title="Vegetarian">
                                            <i class="fas fa-leaf"></i>
                                            <span class="sr-only">Vegetarian</span>
                                        </span>
                                    </li>
                                <?php endif ?>
                            </ul>
                        </td>
                        <td class="text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="?view=update&id=<?= $participant['id'] ?>">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (!$objects): ?>
                    <tr><td colspan="12" class="text-muted text-center">Nobody has registered yet :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </div>
</div>
<?php $this->end() ?>
