<?php $this->extends('../bbq/registration_base.phtml') ?>

<?php $this->begin('form') ?>
<p><strong>Sadly the sign ups for the meal are at capacity and we are no longer accepting sign ups :(</strong></p>
<?php $this->end() ?>
