<?php $this->extends('../layout.phtml') ?>

<?php $this->begin('content') ?>
<header id="bbq" class="hero">
    <div class="event">
        <h1 class="name">Kick-off Week </h1>
        <div class="datetime">6 &ndash; 10 September 2021</div>
        <a class="call-to-action" href="#registration-form">Sign up for baxbier burgers!</a>
    </div>
</header>
<section class="container-narrow">
    <p>
        The Kick-Off Week is a period in which many activities are organized for new students (like you!). Most of these activities are organized in the first week of the academic year; that’s why it’s called the Kick-Off week. The organized events allow you to get to know the university, your study, and other students. We really recommend you attend them! Some of the activities in the Kick-Off Week are organized by the Introcee (that’s us, we are all CS or AI students), and others by the university. 
    </p><p>
        On this page you can find more information about the activities that we organize during the first week of your AI/CS program. The main aim of our activities is that you get to know new people, so that you can make new friends (yay). Another goal is that you get to know the campus a bit, which is nice since you will feel less like you are in first grade all over again.  We hope to see you in September!
    </p>
</section>
<section class="container-narrow">
    <h2>Details</h2>
    <h3>Burgers at Baxbier</h3>
    <p>The IntroCee is organizing a FREE meal and social for all first-year AI & CS students so that you can eat the stress of your first lectures away.</p>

    <p>The event will be held at baxbier brewery <a href="https://www.baxbier.com/proeflokaal">baxbier.com</a>, where you will get to build your own burger (meat or vegetarian). Of course, you will also be able to purchase some beer, soda, or other drinks at the venue! This is a really good way to socialize with your fellow students! The sign-ups will close at 17.00 on Monday, 6th September.</p>

    <p>If you are a senior-year student, you can also sign up for the meal! Please note that the food will not be free in that case. If we have reached our maximal capacity, priority will go to first-years.</p>
</section>
<section id="registration-form" class="container-narrow">
    <h2>Sign up</h2>
    <?= !empty($form) ? $form : ''?>
</section>
<?php $this->end() ?>
