<?php $this->extends('../bbq/registration_base.phtml') ?>

<?php $this->begin('form') ?>
    <?php if (cover_session_logged_in()): ?>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Hi <?= get_cover_session()->voornaam ?>! We prefilled the form with some your information from the Cover website.
        </div>
    <?php else: ?>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Hi there! Did you know that if you log in onto the Cover website (membership required) we can fill in most of this form already? You can log in <a href="<?= cover_login_url() ?>">here</a>, or sign up <a href="//www.svcover.nl/join">here</a>.
        </div>
    <?php endif ?>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" <?php if ($form->get_value('type') == 'First-year'): ?>class="active"<?php endif ?>>
            <a href="#first-year" aria-controls="first-year" role="tab" data-toggle="tab">I'm a first-year student</a>
        </li>
        <li role="presentation" <?php if ($form->get_value('type') != 'First-year'): ?>class="active"<?php endif ?>>
            <a href="#senior" aria-controls="senior" role="tab" data-toggle="tab">I'm a senior student</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane <?=($form->get_value('type') == 'First-year') ? 'active' : '' ?>" id="first-year">
            <form method="POST">
                <h3>Your information</h3>
                <input type="hidden" name="type" value="First-year">
                <?= $form->render_field('first_name', ['placeholder' => 'Jan']) ?>
                <?= $form->render_field('surname', ['placeholder' => 'de Joker']) ?>
                <?= $form->render_field('email', ['placeholder' => 'introcee@svcover.nl']) ?>
                <?= $form->render_field('birthday', ['placeholder' => '20-09-1993']) ?>
                <?= $form->render_field('study') ?>
                <?= $form->render_field('is_vegetarian') ?>
                <h3>Financial</h3>
                <p>The event is free for first years so this is not required but if you would like to be able to buy extra drinks/snacks we will need your bank information</p>
                <?= $form->render_field('iban', ['placeholder' => 'NL37BANK0123456789']) ?>
                <?= $form->render_field('bic', ['placeholder' => 'BANKNL2G']) ?>
                <h3>Other</h3>
                <div class="form-group <?= !empty($form->get_field('remarks')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('remarks')->render_label() ?>
                    <?= $form->get_field('remarks')->render(['class'=> 'form-control', 'placeholder' => 'Comments (allergies, medication, remarks)', 'rows'=>3]) ?>
                    <?php foreach ($form->get_field('remarks')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> If you have any allergies or diet restrictions (other than vegetarian), use any medication, have disabilities or other remarks about your registration, please let us know through this field.
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up!</button>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane <?=($form->get_value('type') != 'First-year') ? 'active' : '' ?>" id="senior">
            <form method="POST">
                <input type="hidden" name="type" value="Senior">
                <h3>Personal</h3>
                <?= $form->render_field('first_name', ['placeholder' => 'Jan']) ?>
                <?= $form->render_field('surname', ['placeholder' => 'de Joker']) ?>
                <?= $form->render_field('birthday', ['placeholder' => '20-09-1993']) ?>
                <h3>Contact</h3>
                <?= $form->render_field('email', ['placeholder' => 'introcee@svcover.nl']) ?>
                <?= $form->render_field('address', ['placeholder' => 'Nijenborgh 9']) ?>
                <?= $form->render_field('postal_code', ['placeholder' => '9747 AG']) ?>
                <?= $form->render_field('city', ['placeholder' => 'Groningen']) ?>
                <h3>Financial</h3>
                <?= $form->render_field('iban', ['placeholder' => 'NL37BANK0123456789']) ?>
                <?= $form->render_field('bic', ['placeholder' => 'BANKNL2G']) ?>
                <h3>Other</h3>
                <?= $form->render_field('study') ?>
                <?= $form->render_field('mentor') ?>
                <?= $form->render_field('is_vegetarian') ?>
                <div class="form-group <?= !empty($form->get_field('remarks')->errors) ? 'has-error' : '' ?>">
                    <?= $form->get_field('remarks')->render_label() ?>
                    <?= $form->get_field('remarks')->render(['class'=> 'form-control', 'placeholder' => 'Comments (allergies, medication, remarks)', 'rows'=>3]) ?>
                    <?php foreach ($form->get_field('remarks')->errors as $error): ?>
                        <div class="help-block">
                            <?= $this->html($error) ?>
                        </div>
                    <?php endforeach ?>
                    <div class="help-block">
                        <i class="fas fa-info-circle"></i> If you have any allergies or diet restrictions (other than vegetarian), use any medication, have disabilities or other remarks about your registration, please let us know through this field.
                    </div>
                </div>
                <?= $form->render_field('has_agreed_costs') ?>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up!</button>
                </div>
            </form>
        </div>
    </div>
<?php $this->end() ?>
