<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Kick-off Week Barbecue</title>
    <style>
    body {
        font: 13px/16px sans-serif;
    }
    </style>
</head>
<body>
    <p>Dear <?= $this->html($first_name) ?>,</p>
    <p>Thank you for your registration for the Kick-off Week Barbecue.</p>

    <p>Just as a reminder, this is what you entered:</p>
    <?php if ($type === 'First-year'): ?>
        <ul>
            <li>Name: <?= $this->html($first_name) ?> <?= $this->html($surname) ?></li>
            <li>Email: <?= $this->html($email) ?></li>
            <li>Birthday: <?= $this->html($birthday) ?></li>
            <li>Study: <?= $this->html($study) ?></li>
            <?php if (!empty($is_vegetarian)): ?>
                <li>You are a vegetarian</li>
            <?php endif ?>
            <?php if (!empty($iban)): ?>
                <li>IBAN: <?= $this->html($iban) ?></li>
                <?php if (!empty($bic)): ?>
                    <li>BIC: <?= $this->html($bic) ?></li>
                <?php endif ?>
            <?php endif ?>
            <li>Comments: <?= $this->format_plain_text($remarks) ?></li>
        </ul>
    <?php else: ?>
        <ul>
            <li>Name: <?= $this->html($first_name) ?> <?= $this->html($surname) ?></li>
            <li>Birthday: <?= $this->html($birthday) ?></li>
            <li>Email: <?= $this->html($email) ?></li>
            <li>Address: <?= $this->html($address) ?></li>
            <li>Postal code: <?= $this->html($postal_code) ?></li>
            <li>Place of residence: <?= $this->html($city) ?></li>
            <li>IBAN: <?= $this->html($iban) ?></li>
            <?php if (!empty($bic)): ?>
                <li>BIC: <?= $this->html($bic) ?></li>
            <?php endif ?>
            <li>Study: <?= $this->html($study) ?></li>
            <li>You are a <?= $this->html($type) ?></li>
            <?php if (!empty($is_vegetarian)): ?>
                <li>You are a vegetarian</li>
            <?php endif ?>
            <li>You allow Cover (SEPA Creditor Identifier: NL48ZZZ400267070000) to deduct €5 from my bank account through SEPA Direct Debit.</li>
            <li>Comments: <?= $this->format_plain_text($remarks) ?></li>
        </ul>
    <?php endif ?>

    <p>If you have any further questions, please contact us at <a href="mailto:introcee@svcover.nl">introcee@svcover.nl</a>.</p>
    <p>Kind regards,<br>The IntroCee 🐾</p>
</body>
</html>
